@model IEnumerable<Mapping_Solution.Models.ArnMasterDetails>


<table class="table small border" id="tblArnMaster">
    <thead>
        <tr class="bg-primary text-white">
            <th></th>
            <th scope="col">KRV_CODE</th>
            <th scope="col">CHANNEL_CODE</th>
            <th scope="col">NEW_BR_CODE</th>
            <th scope="col">REGION_CODE</th>
            <th scope="col">NAME</th>
            @*<th scope="col">DIST</th>NOT REQUIRED*@
            <th scope="col">MULTICITY FLAG</th>@*ALLOCATION TO MULTICITY FLAG*@
            <th scope="col">CATEGORY</th>
            @*<th scope="col">GROUPCD</th> NOT REQUIRED*@
            <th scope="col">ZONE</th>
            <th scope="col">ARN_GROUP_NAME</th>
            <th scope="col">SUB_CHANNEL</th>
            <th scope="col">VALID_FROM</th>
            <th scope="col">VALID_UPTO</th>
            <th scope="col">CREATION_DT</th>
            <th scope="col">LSTUPDDT</th>
            <th scope="col">ACTIVE_FLAG</th>
            <th scope="col">OWNER_TYPE</th>
            <th scope="col">SAP_UFC_CODE</th>
            <th scope="col">PRM_CODE</th>
            <th scope="col">CHANNEL_GROUP</th>
            @*<th scope="col">RM_CODE</th>*@
            @*<th scope="col">ARN_TYPE</th> NOT REQUIRED*@
            @*<th scope="col">SAP_REGION_CODE</th>
                <th scope="col">SAP_ZONE_CODE</th> NO DISPLAY*@
            <!-- <th scope="col">ACTION</th> -->

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><input type="checkbox" class="form-check-input"></td>
                <td>
                    @Html.DisplayFor(modelItem => item.krv_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.channel_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.new_br_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.region_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.dist)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.multicity_flag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categoty)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.group_cd)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.rm_code)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.zone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.arn_group_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sub_channel)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.arn_type)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.valid_from)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valid_upto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.creation_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lstupddt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.active_flag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.owner_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sap_ufc_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prm_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.channel_group)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.sap_region_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sap_zone_code)
                </td>*@
                @*<td>
                        <select class="form-select">
                            <option>Select</option>
                            <option>Edit</option>
                            <option>Save</option>
                            <option>Delete</option>
                        </select>
                    </td>*@

            </tr>
        }

    </tbody>


</table>


