@model IEnumerable<Mapping_Solution.Models.VirtualRmMasterDetails>

<table class="table small border" id="tblVirtualMaster">
    <thead>
        <tr class="bg-primary text-white">
            <th> </th>
            <th scope="col">CHANNEL_CODE</th>
            <th scope="col">VIRTUAL_RMCODE_STR</th>
            <th scope="col">UFC_CODE</th>
            <th scope="col">SAP_UFC_CODE</th>
            <th scope="col">UFC_NAME</th>
            <!-- <th scope="col">ACTION</th> -->
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td><input type="checkbox" class="form-check-input"></td>

                <td>
                    @Html.DisplayFor(modelItem => item.channel_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.virtual_rmcode_str)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ufc_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sap_ufc_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ufc_name)
                </td>
                @*<td>
                        <select class="form-select">
                            <option>Select</option>
                            <option>Edit</option>
                            <option>Save</option>
                            <option>Delete</option>
                        </select>
                    </td>*@
            </tr>
        }

    </tbody>
</table>
